* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

nav{
    border-bottom: 2px solid #ff7900;
}

.btn-nav{
    background-color: #ff7900 !important;
    color: #fff;
}

.btn-nav:hover{
    background-color: #fa9c30 !important;
    color: #fff;
}

.nav-link:hover{
    color: #ff7900 !important;
    cursor: pointer !important;
}

ul > .navbar-nav{
    max-height: 100px;
}

img > #logo{
    width: 100px !important;
    height: auto;
}

main{
    margin-top: 81px;
}

/*video*/

.videoPrincipal{
    height: 800px;
}
  

/**/

.tituloPrin{
   margin-top: 15px;
}

.react-player{
    opacity: 0.9;
    /*position: absolute;
    background-color: #fa9c30;*/
}

.card > img{
   height: 200px;
   
}

.card{
    overflow: hidden;
}

.card-deck{
    align-items: center;
    margin: 0 auto;
    width: 100%;
    
    padding: 20px;
}

.card-body > .btn{
    width: 100%;
}

.card-title{
    
}

.container > .card{
    border: none;
}

.card > i{
    width: 150px;
}

#modal-video1{
    width: 200px;
}

.modal-content{
    /* margin: 0 auto !important; */
    width: 500px;
    height: 500px;
}

.videos-alumnos{
    display: flex;
}

.videopersonas{
    margin: 10px;
    border-radius: 10px;
    height: 200px !important;
}

.carousel,table{
    margin-top: 81px;
}

.carousel-item > img{
    height: 550px;
}


/*Libreria avanzada CSS Animaciones*/

.animated{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fast{
    -webkit-animation-duration: 2s;
    animation-duration: 2s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fadein{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

.fadein{
    animation-name: fadein;
}



tbody tr td{
    text-align: left !important;
}