* {box-sizing: border-box;
    
}

body { 
  margin: 0;
  
}

.text-blue{
    color: #003e96 !important;
    
}

.text-grey{
    color: #444 !important;
}

.text-orange{
    color: #ff7900;
}

nav{
    border-bottom: 2px solid #ff7900;
    
}

.btn-nav{
    background-color: #ff7900 !important;
    color: #fff;
}

.btn-nav:hover{
    background-color: #fa9c30 !important;
    color: #fff;
}

.nav-link:hover{
    color: #ff7900 !important;
    cursor: pointer !important;
}

ul > .navbar-nav{
    max-height: 100px;
}

img > #logo{
    width: 100px !important;
    height: auto;
}

main{
    margin-top: 81px;
}

/*video*/

.videoPrincipal{
    height: 800px;
}
  

/**/

.tituloPrin{
   margin-top: 15px;
}

.react-player{
    opacity: 0.9;
    /*position: absolute;
    background-color: #fa9c30;*/
}


.card-body > .btn{
    width: 100%;
}



.container > .card{
    border: none;
}



#modal-video1{
    width: 200px;
}

.modal-content{
    /* margin: 0 auto !important; */
    width: 500px;
    height: 500px;
}

.videos-alumnos{
    display: flex;
}

.videopersonas{
    margin: 10px;
    border-radius: 10px;
    height: 200px !important;
}

.carousel, .margenNav, .frm ,table{
    margin-top: 81px;
}

.carousel-item > img{
    height: 550px;
}


tbody tr td{
    text-align: left !important;
}




.videoContacto{
    height: 500px;
    width: 80%;
    margin: 0 auto;
}

.frm{
    color: #ff7900 !important;
}

.frm-contacto{
    margin: 0 auto;
    width: 60%;
    margin-top: 20px;
}

.line-hr{
    height: 1px;
    background-color: #ff7900;
    width: 100%;
}
#accordion, .card,.card-header,.card-link
,.card-body{
    width: 100% !important;
}

.card-body{
    text-align: left !important;
}

.beneficio > .card-body, h5{
    text-align: center !important;
}

.card-deck{
    align-items: center;
    margin: 0 auto;
    width: 100%; 
    padding: 40px;
}

.beneficio{
    text-align: center !important;
    margin: 0 auto !important;
}
.card-deck img{
    height: 280px !important;
}

.card-deck .card{

}
.zoomIn{
    margin: 0 auto;
}

.card-column{
    display: flex;
    margin: 0 auto !important;

}

.card-column .card{
    margin: 10px;
}

.card-column img{
    height: 200px;
}

.card-column .card{
    width: 300px !important;
}

.precio{
    display: flex;
    padding: 10px 0 10px;
}

.precio h5{
    width: 50%;
}
.labPrecio{
    text-align: left !important;
}

.montoPrecio{
    color: #ff7900;
    text-align: right !important;
}

.modal{
    text-align: left !important;
}

.duracionModal{
    width: 40%;
    margin: 0 auto;
}

.card:hover{
    /* border: #ff7900 1px solid; */
    box-shadow:1px 1px 3px 1px #c2c2c2;
}